@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Need content for this area.
            </p>
        </div>
    </section>
}
<h3>How it works:</h3>
<ol class="round">
    <li class="one">
        <h5>Sign up!</h5>
        Sign up for an account by registering with your email address or by signing in through Facebook or Google+!
    </li>

    <li class="two">
        <h5>Start challending!</h5>
        Need to figure out what to put here.
    </li>

    <li class="three">
        <h5>Another step</h5>
        blah blah blah
    </li>
</ol>
